:host {
    background-color: rgb(250, 36, 36);
    color: white;
    border-radius: 5px;
    display: block;
    font-size: 2rem;
    height: 95px;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
}