.content {
    background-color: rgb(255, 255, 240);
    min-height: calc(100vh - 60px);
}

.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: initial;
    text-align: center;
}

.items {
    text-align: center;
}